*, ::after, ::before {
    box-sizing: border-box;
}

*, html, body {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

.index-indent {
    padding-top: 20px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 275px;
    font-size: 1.5rem;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    font-weight: 700;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #D1E7DD;
    color: #0F5132;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #D1E7DD;
    color: #0F5132;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.form-indent {
    margin: 20px 0;
    font-size: 1.5rem;
}

.text-overflow {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}